{%- assign product = all_products['pattern-focused-therapy-highly-effective-cbt-practice-in-mental-health-and-integrated-care-settings-first-edition'] -%}
{%- if product == empty -%}
  <div class="page-width">
    <p>Product not found. Please check the handle.</p>
  </div>
{%- else -%}
  {% render 'pattern-focused-therapy-landing-page', product: product %}
{%- endif -%}
