{% comment %}
  Custom page template for the Clinical Practitioner's book bundle.
{% endcomment %}

<section class="page" id="page-{{ page.handle }}">
  {% include 'clinical-practitioner-landing-page' %}
</section>
