{% comment %}
  Custom page template for the Mystery & Intrigue book bundle.
{% endcomment %}

<section class="page" id="page-{{ page.handle }}">
  {% include 'mystery-intrigue-landing-page' %}
</section>
