{% comment %}
  Custom page template for the Dystopian Fiction book bundle.
{% endcomment %}

<section class="page" id="page-{{ page.handle }}">
  {% include 'dystopian-fiction-landing-page' %}
</section>
