{% layout 'theme' %}

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      {% if page.handle == 'what-books-did-you-start-or-finish-reading' %}
        {% include 'reddit-books-thread' %}
      {% endif %}
      
      <!-- Mount the React App -->
      {% render 'book-bundle-root' %}
      
    </div>
  </div>
</div>
