{% comment %}
  Custom page template for the Classic Masterpieces book bundle.
{% endcomment %}

<section class="page" id="page-{{ page.handle }}">
  {% include 'classic-literature-landing-page' %}
</section>
