{% comment %}
  Custom page template for the Cultural Psychology & Social Justice bundle.
{% endcomment %}

<section class="page" id="page-{{ page.handle }}">
  {% include 'cultural-psychology-landing-page' %}
</section>
